<article data-program="{{ program.id }}">
    <img src="/uploads/programs/{{ program.poster }}" />
    <h2>
        <a href="{{ path('program_showDetail', {"id":program.id}) }}">
            {{ loop.index }} / {{ program.title }}
        </a>
    </h2>
    <p>{{ program.synopsis }}</p>
</article>