<header>
    <nav class="navbar fixed-top text-white">
        <ul class="navbar-nav container-fluid d-inline-flex flex-row p-2 justify-content-center text-white">
            <li class="nav-item ml-5">
                <a class="nav-link text-white p-2" href="{{ path('program_index') }}">Series</a>
            </li>
            <li class="nav-item ml-5">
                <a class="nav-link text-white p-2" href="/actor/">Acteurs</a>
            </li>
            <li class="logo ml-5"><a class="r-0" href="/"><img src="{{ asset('build/images/logo.png') }}" alt="logo"/></a></li>
            <li class="nav-item ml-5">
                <a class="nav-link text-white p-2" href="{{ path('app_episode_index') }}">Episodes</a>
            </li>
            <li class="nav-item ml-5">
                <a class="nav-link text-white p-2" href="{{ path('app_season_index') }}">Saisons</a>
            </li>
            <li class="position-absolute top-50 end-0 translate-middle">
            {% if app.user %}
                {{ app.user.email }}
                <a href="{{ path('app_logout') }}"> Se déconnecter</a>
            {% else %}
                <a href="{{ path('app_login') }}"> Se connecter</a>
            {% endif %}
            </li>
        </ul>
    </nav>
</header>