<sidebar class="d-none d-md-flex flex-column flex-shrink-0 col-3 col-lg-2 min-vh-100 border-end border-dark">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none pt-2">
        <span class="fs-4">Series</span>
    </a>
    <hr>
    <ul class="nav flex-column mb-auto">
        {%  for category in navigation.getCategories %}
            <li>
                <a href=" {{ path('category_index') }}{{category.name}}" class="nav-link active" aria-current="page">{{category.name}}</a>
            </li>
        {% endfor %}
        <li>
            <a href="#" class="nav-link link-dark">Customers</a>
        </li>
        <hr>
        <li><a href=" {{ path('category_new') }}" class="nav-link active" aria-current="page">Ajout d'une catégorie</a></li>
        <li><a href=" {{ path('program_new') }}" class="nav-link active" aria-current="page">Ajout d'une série</a></li>
        <li><a href=" {{ path('app_actor_new') }}" class="nav-link active" aria-current="page">Ajout d'un acteur</a></li>
    </ul>
</sidebar>