{% extends 'base.html.twig' %}

{% block title %}{{ program.title }}{% endblock %}

{% block content %}
    <main>
        <img class="align-self-start mr-3" src="/uploads/programs/{{ program.poster }}" alt="{{ program.title }} poster"/>
        <div>
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.synopsis }}</p>
            {% for category in program.categories %}
                <p>Catégorie : {{ category.name }}</p>
            {% endfor %}
            <ul>
                {% for season in program.seasons %}
                    <li><a href="{{ path("program_season_show", {"program": program.id, "season": season.id }) }}"> {{ season.number }} - {{  season.year }}</a></li>
                {%  endfor %}
            </ul>
        </div>
        <a href="{{ path('program_index') }}">
            Retour à la liste des programmes
        </a>
    </main>

{% endblock %}