{% extends 'base.html.twig' %}

{% block title %}Actor{% endblock %}

{% block content %}
    <main class="container-fluid"><h1>Actor</h1>
        <div class="container row row-cols-1 row-cols-md-2 flex-nowrap">
            <img class="align-self-start " src="{{ vich_uploader_asset(actor) }}" alt="{{ actor.firstname }} image"/>

            <table class="table w-50">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ actor.id }}</td>
                </tr>
                <tr>
                    <th>Firstname</th>
                    <td>{{ actor.firstname }}</td>
                </tr>
                <tr>
                    <th>Lastname</th>
                    <td>{{ actor.lastname }}</td>
                </tr>
                <tr>
                    <th>BirthDate</th>
                    <td>{{ actor.birthDate ? actor.birthDate|date('Y-m-d') : '' }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <a href="{{ path('app_actor_index') }}">back to list</a>

        <a href="{{ path('app_actor_edit', {'id': actor.id}) }}">edit</a>

        {{ include('actor/_delete_form.html.twig') }}
    </main>
{% endblock %}
